
.page-content[data-v-7ca1193d] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.back-button[data-v-7ca1193d] {
  position: absolute;
  top: 10px;
  right: 10px;
}
.forward-button[data-v-7ca1193d] {
  position: absolute;
  top: 40px;
  right: 10px;
}
.waiting-text[data-v-7ca1193d] {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
  animation: fadeInUp 1s ease;
}
.quiz-logo[data-v-7ca1193d] {
  animation: fadeInDown 1s ease;
}
